*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 40px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(243, 243, 242);
    font-size:large; 
     width: 60%;
}
body h1{
    margin-top: 20px;
}
body img{
    height: 300px;
    width: 450px;
}
body p{
    font-size: 20px;
    color: gray;
}
.artical-post-header{
    padding: 15px 10px 10px 5px;
}
.artical-post-header p{ 
   font-size: 25px;
}
.Steps h2{
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.Steps h3{
    padding-top: 10px;
    padding-bottom: 8px;   
}
.Steps p{
    padding-left: 15px;
}
.ingredients ul{
    margin: 8px;
    padding-left: 23px;
    color: gray;
    font-size: 20px;
}
.directions img{
    height: 350px;
    width: 550px;
}
.directions p{
    margin: 5px;
    padding: 5px 23px;
}
.notes p{
    margin: 8px;
    padding-left: 23px;
}

