@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dancing+Script&family=Lato:wght@300&family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
 }

 html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
 #header{
    background-color:rgb(20, 19, 19);
    align-items: center;
    position: sticky;
    top:0px;
    left:0px;
    height: 90px;  
    width:100%;
   display: flex;
    overflow: hidden;
    
} 
#logo img{
    width: 120px;
    height: 90px;
    padding-left: 30px;
}
#header ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#header ul li{
    padding: 10px;
    list-style: none;
    color: white;
}
#header ul li a{
    color: white;
    display: block;
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
}
#header ul li a:hover{
    color: black;
    background-color: white;
}
@media screen and (max-width: 500px) {
   #header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-nav-lists {
      float: none;
    }
  }
#home{
    display: flex;
    flex-direction: column;
    padding:120px 0px 0px 90px;
    height: 550px;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('Images/bg.jpg') no-repeat center center/cover;
    height: 750px;
    top:0px;
    left:0px;
    width: 100%;
    max-width: 100%;
    z-index: -1;
    opacity:0.89;
    
}

#home .h-primary{
    color:rgb(233, 214, 210);
    font-size: 100px;
    text-align: left;
    font-family: 'Baloo Bhai', cursive;
    padding-bottom: 10px;
   text-shadow: 2px 2px 4px #f0b4b4;
}
#home .btn{
    background-color: rgb(230, 167, 167);
    text-align: center;
    border-radius: 15px;
    font-size: 1.5rem;
    width: 160px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home .btn a{
    color: #000;
    text-decoration: none;
}
#home .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(165, 145, 145, 0.24), 0 17px 50px 0 rgba(92, 88, 88, 0.19);
  }
#home .h-p-notes{
    color: rgb(235, 212, 212);
    padding-top:140px ;
    padding-bottom: 10px;
    font-size:1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main h1{
   
    font: bold;
 
}

#all-Recipes{
  
    padding:auto;
   
}
#all-Recipes h2{
    font-size: 50px;
    margin: 20px;
    padding-top: 5px ;
}
.page_body{
   display: flex;
    flex-flow: row wrap;
}
.page_body .item{
   margin: 5px 15px 10px 30px;
  border: 2px solid rgb(238, 232, 232);
  
}
.page_body .item h3{
   padding: 4px 0px 3px 10px;
}
#all-Recipes .page_body img{
    height: 200px;
    width: 300px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
.center{
    text-align: center;
}